CONFIG_CNN_SQ8=y
CONFIG_CNN_POW2=n
CONFIG_CNN_FP16=n
CONFIG_CNN_NE16=y
CONFIG_MODEL_HAS_NO_CONSTANTS=n
CONFIG_MODEL_FLASH_TYPE_DEFAULT=y
CONFIG_MODEL_RAM_TYPE_DEFAULT=y

# Memory sizes for cluster L1, SoC L2 and Flash
CONFIG_MODEL_L1_MEMORY=128000
CONFIG_MODEL_L2_MEMORY=300000
CONFIG_MODEL_L3_MEMORY=8000000
CONFIG_MODEL_LOGLEVEL=2

CONFIG_USE_PRIVILEGED_MRAM=n

# Cluster stack size for master core and other cores
CONFIG_CL_MASTER_CORE_STACK_SIZE=4096
CONFIG_CL_SLAVE_CORE_STACK_SIZE=1024

CONFIG_ENABLE_AUTOTILER=y
CONFIG_GAP_LIB_IMG_IO=y

CONFIG_DRIVER_HOSTFS=y
CONFIG_DRIVER_READFS=y

CONFIG_BOARD_GAP9_V2_VIRTUAL=n
CONFIG_BOARD_GAP9MOD_V1_0_B=y
CONFIG_BOARD_GAP9EVK_V1_3=y
CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_TYPE_RAM=y

# Board settings
CONFIG_PLATFORM_GVSOC=y
CONFIG_PLATFORM_BOARD=n
CONFIG_MODEL_EMUL=n
CONFIG_DRIVER_CLUSTERDECOMPRESSOR=n

# Autotiler libraries float type
CONFIG_MODEL_FLOAT16_TYPE_IEEE16=n
CONFIG_MODEL_FLOAT16_TYPE_BFLOAT16=y

# OS float printf
CONFIG_FREERTOS_ENABLE_FLOAT_PRINTF=y
CONFIG_FREERTOS_ENABLE_FLOAT_EXPONENT_PRINTF=n